.cardBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.teacherName {
    font-size: 25px;
    font-weight: 700;
}

.cardBody {
    background: linear-gradient(0deg, rgba(205, 208, 208, 1) 0%, rgba(177, 235, 147, 1) 100%, rgba(136, 246, 7, 1) 100%);
}

#department {
    font-weight: 700;
}

@media(max-width: 992px) {
    .cardBox {
        grid-template-columns: 1fr;
    }
}

@media(max-width:668px) {
    .cardBox {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
}