.SlideImg {
    height: 500px;
}

.slideheader {
    color: #1E90FF;
}

.navBar {
    padding: 20px;
}

.headline {
    margin-right: 55px;
}

.navlink {
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    color: rgb(250, 249, 246);
}


@media (max-width: 688px) {
    .headline {
        width: auto;
        margin-right: none;
    }
}